
<form [formGroup]="budgetForm">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput type="text" placeholder="Name of Budget" formControlName="budgetName">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput type="date" placeholder="Start Date" formControlName="start">
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput type="date" placeholder="End Date" formControlName="end">
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button type="submit"
          color="primary"
          (click)="submitBudget()">
    Submit
  </button>
</form>
