<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-selection-list [multiple]="false">
      <mat-list-option (click)="createBudgetModal()">Create New Budget</mat-list-option>
      <mat-list-option *ngFor="let budget of budgets" (click)="setBudgetView(budget)">
        {{budget.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-edit-budget *ngIf="currentBudget" [budget]="currentBudget" style="height: 100%; width: 100%;"></app-edit-budget>
  </div>

</mat-drawer-container>
