
#house-top {
  position: absolute;
width: 200px;
height: 200px;
left: 65vw;
top: 55vh;
}

#house-left {
/* streamline-icon-house-1@200x200 1 */
position: absolute;
width: 200px;
height: 200px;
right: 24vw;
top: 20vh;

}

#house-right {
    /* streamline-icon-house-13@200x200 1 */
position: absolute;
width: 200px;
height: 200px;
right: 4vw;
top: 20vh;
}

#about-big {
    background-color: #ffffff;
    position: absolute;
    width: 44vw;
    height:40vh;
    left:12vw;
    top: 25%;
    border-radius: 15px;
    border: 1px solid;
    border-color: #9dc88d;

    text-justify:distribute;
}

.button-container {
    display: flex;
    justify-content: space-around;
    top:50%;
}

.header {
    height: 25%;
}


.top-bar-item-button:hover {
  background: #9dc88d;
  opacity: 0.9;
}

.top-bar-item-button.active {
  background: #9dc88d;
  opacity: 1;
  cursor: default;
}

.top-bar-item-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #9dc88d;
  opacity: 0.7;
  width: 18vw;
  height:16vh;
  padding: 11px;
  padding-left: 31px;
  padding-right: 31px;
  border-radius: 23.5px 23.5px 23.5px 23.5px;
  cursor: pointer;
  outline: 0;
  margin: 2px;
}

.top-bar-text {
  font-size: 48px;
}
