<img src="{{houseTopImageSrc}}" id="house-top">
<img src="{{houseLeftImageSrc}}" id="house-left">
<img src="{{houseRightImageSrc}}" id="house-right">
<mat-card id="about-big">
  <mat-card-header class="header">
    <div class="header">

    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="button-container">
      <div class="top-bar-item-button" (click)="signUp()">

        <span class="top-bar-text">Sign up</span>

      </div>
      <mat-card class="top-bar-item-button">
        <span class="top-bar-text">About</span>
      </mat-card>
    </div>
  </mat-card-content>
  
</mat-card>
