
#house-top {
  position: absolute;
width: 200px;
height: 200px;
left: 65vw;
top: 55vh;
}

#house-left {
/* streamline-icon-house-1@200x200 1 */
position: absolute;
width: 200px;
height: 200px;
right: 24vw;
top: 20vh;

}

#house-right {
    /* streamline-icon-house-13@200x200 1 */
position: absolute;
width: 200px;
height: 200px;
right: 4vw;
top: 20vh;
}

#about-big {
    background-color: #ffffff;
    position: absolute;
    width: 40vw;
    height:70vh;
    left:12vw;
    top: 17vh;
    border-radius: 50px;
    border: 1px solid;
    border-color: #9dc88d;
    align-content: center;
    transform: rotate(-2deg);
 
}

#about-big-text {
  color: #9dc88d;
  font-size: 66px;
  font-weight: 700;
  line-height: 2em;
  padding: 20px;
  word-spacing: 15px;


}
