<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div
      id="brand"
      class="primary-color-dark"
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      Hestia
    </div>
    <div id="side-nav-list">
      <div class="side-nav-item" *ngIf="!isLoggedIn" (click)="login()">
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-layers"
        ></span>
        <span class="side-nav-text">(Temp) Login</span>
      </div>
      <div
        class="side-nav-item"
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-layers"
        ></span>
        <span class="side-nav-text">Dashboard</span>
      </div>
      <div
        class="side-nav-item"
        routerLink="/calendar"
        routerLinkActive="active"
      >
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-calendar-today"
        ></span>
        <span class="side-nav-text">Calendar</span>
      </div>
      <div class="side-nav-item" routerLink="/tasks" routerLinkActive="active">
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-playlist-add-check"
        ></span>
        <span class="side-nav-text">Tasks</span>
      </div>
      <div class="side-nav-item" routerLink="/budget" routerLinkActive="active">
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-attach-money"
        ></span>
        <span class="side-nav-text">Budget</span>
      </div>
      <div class="side-nav-item" routerLink="/meals" routerLinkActive="active">
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-set-meal"
        ></span>
        <span class="side-nav-text">Meals</span>
      </div>
      <!-- <div class="side-nav-item">
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-settings"
        ></span>
        <span class="side-nav-text">Settings</span>
      </div> -->
    </div>
    <div
      id="side-nav-bottom"
      class="side-nav-item"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      <span
        class="iconify nav-icon"
        data-inline="false"
        data-icon="ic:outline-logout"
      ></span>
      <span class="side-nav-text">Logout</span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="top-bar">
      <div id="top-bar-list">
        <span class="font-lg">Welcome Matt!</span>
        <span
          class="iconify nav-icon"
          data-inline="false"
          data-icon="ic:outline-notifications"
        ></span>
        <div class="avatar-container-lg">
          <img src="assets/images/avatar1.jpg" class="avatar" />
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
