mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-content {
  background-color: #f1f3f5;
  /* background-image: radial-gradient(#9dc88d 1.05px, transparent 1.05px),
    radial-gradient(#9dc88d 1.05px, #ffffff 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px; */
  margin-left: 241px;
}

/* nav */
.nav-icon {
  width: 29px;
  height: 29px;
}

/* side nav */
mat-sidenav {
  width: 241px;
  box-shadow: 1px 0px 0px #e2e5ed;
}

.side-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 11px 0px;
  padding-left: 31px;
  border-radius: 0px 23.5px 23.5px 0px;
  cursor: pointer;
  outline: 0;
}

.side-nav-item:hover {
  background: #f2f3f5;
}

.side-nav-item.active {
  background: rgba(157, 200, 141, 0.6);
  cursor: default;
}

.top-bar-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 11px;
  padding-left: 31px;
  padding-right: 31px;
  border-radius: 23.5px 23.5px 23.5px 23.5px;
  cursor: pointer;
  outline: 0;
}

.top-bar-item-button:hover {
  background: #9dc88d;
  opacity: 0.9;
}

.top-bar-item-button.active {
  background: #9dc88d;
  opacity: 1;
  cursor: default;
}

.top-bar-item-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #9dc88d;
  opacity: 0.7;
  width: 100px;

  padding: 11px;
  padding-left: 31px;
  padding-right: 31px;
  border-radius: 23.5px 23.5px 23.5px 23.5px;
  cursor: pointer;
  outline: 0;
}

.top-bar-item:hover {
  background: #f2f3f5;
}

.top-bar-item.active {
  background: rgba(157, 200, 141, 0.6);
  cursor: default;
}

.top-bar-text {
  font-size: 24px;
}

.side-nav-text {
  margin-left: 11px;
  font-size: 18px;
}

#side-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  position: absolute;
  top: 151px;
  width: 216px;
  height: 399px;
}

#side-nav-bottom-1 {
  position: absolute;
  width: calc(216px - 31px);
  bottom: 75px;
}

#side-nav-bottom-2 {
  position: absolute;
  width: calc(216px - 31px);
  bottom: 75px;
}

#brand {
  position: absolute;
  left: 2vw;
  top: 2vh;

  cursor: pointer;
  outline: 0;

  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
}

#brand.active {
  cursor: default;
}

/* top nav */
#top-bar {
  height: 74px;
  box-shadow: 0px 1px 0px #e2e5ed;
  background: #ffffff;
}

#top-bar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 356px;
  height: 34px;
  top: 2.5vh;
  right: 4vw;
}

#top-bar-list-loggedout {
  /* Frame 82 */
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10.5px 50px;

  position: absolute;
  width: 623px;
  height: 79px;
  left: 4vw;
  top: 3vh;
}
