<div class="row">
  <div class="col">
    <div class="page-header">
      <mat-card-title>
        <span id="budget-settings-button" style="float:left" (click)="editBudgetSettingsModal()">
          <span class="iconify icon"
                data-inline="false"
                data-icon="bx:bxs-edit"></span>
        </span>

        <span style="position:relative; right:5%;">
          Incomes
        </span>
      </mat-card-title>
    </div>

    <div class="tasks-input-container">
      <span class="iconify icon"
            data-inline="false"
            data-icon="ic:outline-add"></span>
      <form class="font-lg add-category-form tasks-input"
            autofocus
            [formGroup]="addIncomeForm">
        <input matInput class="category-input-field-name" type="text" placeholder="Income Name" formControlName="incomeName" />
        <input matInput class="category-input-field-limit" type="number" placeholder="$$$" formControlName="incomeAmount" (keydown.enter)="addIncome()" />
      </form>
    </div>

    <mat-form-field style="display:none;">
      <input matInput type="text" />
    </mat-form-field>





    <!--<mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="assignees" multiple>
    <mat-button-toggle value="bold" *ngFor="let member of householdMembers" [value]="member.userID">{{member.username}}</mat-button-toggle>
  </mat-button-toggle-group>-->



  <div class="chart-container">
    <apx-chart 
               [series]="incomeChartOptions.series"
               [chart]="incomeChartOptions.chart"
               [plotOptions]="incomeChartOptions.plotOptions"
               [labels]="incomeChartOptions.labels"
               [legend]="incomeChartOptions.legend"
               ></apx-chart>


  </div>

    <mat-card id="income-display" *ngIf="incomes.length > 0">




      <mat-card-content>
        <div class="displayed-expenses-container" *ngFor="let income of incomes">
          <!--<span class="add-category-icon" (click)="deleteIncome(income)">
            <i class="iconify icon"
               data-inline="false"
               data-icon="ic:outline-minus"></i>
          </span>-->


          <span (click)="deleteIncome(income)" class="icon-container">
            <i class="add-category-icon iconify icon"
               data-inline="false"
               data-icon="ic:outline-minus">
            </i>
          </span>       

          <form class="font-lg add-category-form displayed-expenses-input">
            <input matInput class="category-input-field-name" type="text" [value]="income.name" disabled />
            <input matInput class="category-input-field-limit" type="number" [value]="income.amount" disabled />
          </form>
        </div>

      </mat-card-content>


    </mat-card>
  </div>

  <div class="col">
    <div class="page-header">
      <mat-card-title>
        Expenses
      </mat-card-title>
    </div>

    <div class="tasks-input-container">
      <span class="iconify icon"
            data-inline="false"
            data-icon="ic:outline-add"></span>
      <form class="font-lg add-category-form tasks-input"
            autofocus
            [formGroup]="addExpenseCategoryForm">
        <input matInput class="category-input-field-name" type="text" placeholder="Category Name" formControlName="categoryName" />
        <input matInput class="category-input-field-limit" type="number" placeholder="$$$" formControlName="categoryLimit" (keydown.enter)="addExpenseCategory()" />
      </form>
    </div>
    <div class="chart-container">
      <apx-chart 
                 [series]="chartOptions.series"
                 [chart]="chartOptions.chart"
                 [plotOptions]="chartOptions.plotOptions"
                 [labels]="chartOptions.labels"
                 [legend]="chartOptions.legend"></apx-chart>

    </div>

    <mat-card *ngIf="displayedCategory" id="category-display">

      <span (click)="deleteCategory()">
        <i id="delete-category-button"
           class="iconify icon"
           data-inline="false"
           data-icon="mdi:delete"
           style="float:right">
        </i>
      </span>

      <!--<mat-icon style="float:right;" (click)="deleteCategory()">close</mat-icon>-->

      <div class="header">
        <mat-card-title>
          {{ displayedCategory.budgetCategoryName }}
        </mat-card-title>
      </div>
      <div class="displayed-expenses-container">
        <span class="iconify icon"
              data-inline="false"
              data-icon="ic:outline-add"></span>
        <form class="font-lg add-category-form displayed-expenses-input"
              autofocus
              [formGroup]="addExpenseForm">
          <input matInput class="category-input-field-name" type="text" placeholder="Expense Name" formControlName="name" />
          <input matInput class="category-input-field-limit" type="number" placeholder="$$$" formControlName="amount" (keydown.enter)="addExpense()" />
        </form>

      </div>




      <mat-card-content>
        <div class="displayed-expenses-container" *ngFor="let expense of displayedCategory?.expenses">
          <span class="add-category-icon icon-container" (click)="deleteExpense(expense)">
            <i class="iconify icon"
               data-inline="false"
               data-icon="ic:outline-minus"></i>
          </span>
          <form class="font-lg add-category-form displayed-expenses-input">
            <input matInput class="category-input-field-name" type="text" [value]="expense.name" disabled />
            <input matInput class="category-input-field-limit" type="number" [value]="expense.amount" disabled />
          </form>
        </div>

      </mat-card-content>

    </mat-card>


  </div>
</div>
