<div class="row">
  <div class="col">
    <div class="tasks-input-container">
      <span id="add-category-icon" class="iconify icon"
            data-inline="false"
            data-icon="ic:outline-add"></span>
      <form class="font-lg add-category-form tasks-input"
            autofocus
            [formGroup]="addIncomeForm">
        <input matInput class="category-input-field-name" type="text" placeholder="Income Name" formControlName="incomeName" />
        <input matInput class="category-input-field-limit" type="number" placeholder="$$$" formControlName="incomeAmount" (keydown.enter)="addIncome()" />
      </form>
    </div>
    <apx-chart [series]="incomeChartOptions.series"
               [chart]="incomeChartOptions.chart"
               [plotOptions]="incomeChartOptions.plotOptions"
               [labels]="incomeChartOptions.labels"
               [legend]="incomeChartOptions.legend"></apx-chart>

  </div>
  <div class="col">
    <div class="tasks-input-container">
      <span id="add-category-icon" class="iconify icon"
            data-inline="false"
            data-icon="ic:outline-add"></span>
      <form class="font-lg add-category-form tasks-input"
            autofocus
            [formGroup]="addExpenseCategoryForm">
        <input matInput class="category-input-field-name" type="text" placeholder="Category Name" formControlName="categoryName" />
        <input matInput class="category-input-field-limit" type="number" placeholder="$$$" formControlName="categoryLimit" (keydown.enter)="addExpenseCategory()" />
      </form>
    </div>
    <apx-chart [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [plotOptions]="chartOptions.plotOptions"
               [labels]="chartOptions.labels"
               [legend]="chartOptions.legend"></apx-chart>

    <mat-card *ngIf="displayedCategory" id="category-display">

      <span (click)="deleteCategory()">
        <i id="delete-category-button"
           class="iconify icon"
           data-inline="false"
           data-icon="mdi:delete"
           style="float:right">
        </i>
      </span>

      <!--<mat-icon style="float:right;" (click)="deleteCategory()">close</mat-icon>-->

      <div class="header">
        <mat-card-title>
          {{ displayedCategory.budgetCategoryName }}
        </mat-card-title>
      </div>
      <div class="displayed-expenses-container">
        <span id="add-category-icon" class="iconify icon"
              data-inline="false"
              data-icon="ic:outline-add"></span>
        <form class="font-lg add-category-form displayed-expenses-input"
              autofocus
              [formGroup]="addExpenseForm">
          <input matInput class="category-input-field-name" type="text" placeholder="Expense Name" formControlName="expenseName" />
          <input matInput class="category-input-field-limit" type="number" placeholder="$$$" formControlName="amount" (keydown.enter)="addExpense()" />
        </form>

      </div>




      <mat-card-content>
        <div class="displayed-expenses-container" *ngFor="let expense of displayedCategory?.expenses">
          <span class="add-category-icon" (click)="deleteExpense(expense)">
            <i class="iconify icon"
               data-inline="false"
               data-icon="ic:outline-minus"></i>
          </span>
          <form class="font-lg add-category-form displayed-expenses-input">
            <input matInput class="category-input-field-name" type="text" [value]="expense.expenseName" disabled />
            <input matInput class="category-input-field-limit" type="number" [value]="expense.amount" disabled />
          </form>
        </div>

      </mat-card-content>

    </mat-card>


  </div>
</div>
