<h1 id="brand" routerLink="/dashboard" routerLinkActive="active">Homely</h1>
<div id="nav-list">
  <div class="nav-item" *ngIf="isLoggedIn">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-layers"
    ></span>
    <span class="nav-text"
          (click)="logout()">(Temp) Logout</span>
  </div>
  <div class="nav-item" *ngIf="!isLoggedIn">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-layers"
    ></span>
    <span class="nav-text"
          (click)="login()">(Temp) Login</span>
  </div>
  <div class="nav-item" routerLink="/dashboard" routerLinkActive="active">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-layers"
    ></span>
    <span class="nav-text">Dashboard</span>
  </div>
  <div class="nav-item" routerLink="/calendar" routerLinkActive="active">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-calendar-today"
    ></span>
    <span class="nav-text">Calendar</span>
  </div>
  <div class="nav-item" routerLink="/tasks" routerLinkActive="active">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-playlist-add-check"
    ></span>
    <span class="nav-text">Tasks</span>
  </div>
  <div class="nav-item" routerLink="/budget" routerLinkActive="active">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-attach-money"
    ></span>
    <span class="nav-text">Budget</span>
  </div>
  <div class="nav-item" routerLink="/meals" routerLinkActive="active">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-set-meal"
    ></span>
    <span class="nav-text">Meals</span>
  </div>
  <!-- <div class="nav-item">
    <span
      class="iconify nav-icon"
      data-inline="false"
      data-icon="ic:outline-settings"
    ></span>
    <span class="nav-text">Settings</span>
  </div> -->
</div>
