<div id="create-household-container">
  <img
    id="create-household-image"
    src="assets/images/streamline-icon-house-13@200x200.png"
  />
  <div id="create-household-header" class="primary-color-dark">
    Create a New HouseHold with a Fresh Name!
  </div>
  <form id="create-household-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        id="create-household-name-input"
        matInput
        placeholder="Liam's Family"
      />
    </mat-form-field>
    <br />
    <button
      id="create-household-btn"
      mat-raised-button
      type="button"
      color="primary"
    >
      Submit
    </button>
  </form>
  <div id="create-household-subheader">
    or Keep an Eye on Your Notifications for an Invitation from Your Family
  </div>
</div>
