
body {
  font-family: Montserrat, sans-serif;
}

.font-lg {
  font-size: 16px;
}

.font-md {
  font-size: 14px;
}

.font-sm {
  font-size: 12px;
}

.primary-color-dark {
  color: #6d955e;
}

.primary-color {
  color: #9dc88d;
}
.avatar-container {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-container-lg {
  width: 34px;
  height: 34px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.avatar {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}


mat-progress-spinner {
  display: block !important;
  position: fixed !important;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
}

.custom-dialog-container .mat-dialog-container {
    width: 30vw;
    height: 45vh;
}
