.my-form{
  min-width: 60%;
  max-width: 80%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.full-width {
  width: 100%;
}

.my-card {
  width: 400px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: auto;
  margin-top: 15px;
}

mat-form-field {
    margin: auto;
}

.form-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    color: #6d955e;
    margin: auto;
    text-align: center;
}

#register-button {
    width: 80%; 
}
