@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

#settings-container {
  width: 700px;
  margin: 0 auto;
  padding-top: 64px;
}

#invite-button {
  display: block;
  margin-left: auto;
}

mat-form-field.mat-form-field {
  width: 700px;
}
